* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --bg-color: #EDF2FF;
  --text-color: #00082F;
  --primary-color: #4263EB;
  --primary-color-dark: #364FC7;
}

body.dark-blue {
  --bg-color: #00082F;
  --text-color: #FFFFFF;
}

body.pink {
  --bg-color: #FFF0F6;
  --text-color: #1F000B;
  --primary-color: #D6336C;
  --primary-color-dark: #A61E4D;
}

body.dark-pink {
  --bg-color: #1F000B;
  --text-color: #FFF0F699;
  --primary-color: #D6336C;
  --primary-color-dark: #A61E4D;
}

body {
  background: var(--bg-color);
  font-family: 'Roboto', sans-serif;
  color: var(--text-color);
}

a {
  text-decoration: none;
}

.container {
  text-align: center;
  width: 300px;
  margin: 60px auto;
  padding: 0px 40px;
}

img {
  width: 100%;
}

img.avatar {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  padding: 3.7px;
  border: 4px var(--primary-color) solid;
}

h1 {
  font-size: 32px;
  margin-top: 24px;
  margin-bottom: 8px;
}

.username {
  font-family: 'Roboto Mono', monospace;
  font-size: 18px;
  font-weight: 400;
  opacity: 0.8;
}

ul {
  list-style: none;
  margin: 48px 0;
}

ul li a {
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary-color);
  color: var(--text-color);
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 16px;
  border-radius: 6px;

  transition: background 400ms;
}

ul li a:hover {
  background: var(--primary-color-dark);
}

footer {
  font-size: 12px;
  font-weight: 500;
  opacity: 0.6;

  transition: opacity 400ms;
}

footer a {
  color: var(--text-color);
}

footer:hover {
  opacity: 1;
}